/* * {
  box-sizing: border-box;
} */

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: "Comic Sans MS";
  font-family: "Lucida Sans";
}

#root {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

a:hover {
  /* color: lightblue; */
  text-decoration: underline;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 30px;
}

.App-header img {
  width: 300px;
  height: 200px;
}

.App-main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.gif-wrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
}


.App-footer {
  width: 100%;
  background-color: #282c34;
  color: #fff;
  text-align: center;
  margin-top: auto;
}

.btn {
  height: 40px;
  border-radius: 7px;
  margin: 10px;
}

.nav-link {
  color: white;
}

.nav-banner-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: lightblue;
  margin-bottom: 10px;
}

.gif-blurb-wrap, .nesting-blurb-wrap {
  width: 600px;
  padding: 20px;
}

.posts-wrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.single-post-wrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.single-post-header {
  box-sizing:border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
}

.btn-small {
  height: fit-content;
  border-radius: 3px;
}

.single-comment {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 5px;
}

.posts-list {
  padding: 10px;
}
